
<div class="navbar navbar-inverse ">
  <a class="navbar-brand" href="#">Formation Angular</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="/httpClient">HttpClient</a>
    </li>
    <li>
      <a href="/directives">Directives</a>
    </li>
    <li>
        <a href="/observable">Observables</a>
      </li>
  </ul>
  <li>
      <a href="#databinding">Data Binding</a>
    </li>
    <li>
        <a href="#input">Input property </a>
      </li>
      <li>
          <a href="#output">Output property</a>
        </li>
</div>
