<!-- ***DIRECTIVES*****
<ngfor></ngfor>
 <ngif></ngif>
 <ngswitch></ngswitch>
 <ngswitch></ngswitch>
<ngfor></ngfor>

<ngif></ngif>
-->

<!-- **PIPES***
<pipe1></pipe1>
<img [src]="imageUrl" [alt]='title'>
<button (click)="myFunction()"></button>


<favorite [isFavorite]="post.isFavorite" (change)="maFunction()"></favorite>

--> 
<!-- INPUTOUTPUT
<inputproperty></inputproperty>
-->

<!-- 
  input out put 


        <person [person]="character" *ngFor="let character of characters"></person>
-->

<!-- databinding 

<eventbinding></eventbinding>
  <stylebinding></stylebinding>
  <classbinding></classbinding>
-->





<!-- MY PROPRE DIRECTIVE --

<input type="text" appInputFormat [format]="'lowercase'">

-->
<!--my propre pip---

<p> {{body | mypipe}} </p>
-->


<!-- cv 
<div class="container">
   <app-cv></app-cv>
</div>

-->

<!--  inputOutput personCompenet
<person
      (friendName)="friend =$event" 
      [parentData]="friendAge" 
      class="person">
    </person>

    <h1> {{friend}} </h1>
-->

<!-- OBservables 

<observable></observable>
<observable1></observable1>
-->

<!-- Http
<br>
<div class="container">
  <div class="col-md-8 cold-md-offset-6">
 <posts></posts> 
</div>
</div>
-->
<app-navbar></app-navbar>

<router-outlet></router-outlet>